<div class="container">
  <h1> Security and Privacy </h1>
  <p>
    At Guitar Tab Central, we ensure that all our users private information is kept private. <br>
    The only information we track are the following: <br>
    1. Full Name <br>
    2. Email <br> <br>

    Guitar Tab Central uses this information to ensure those using our service are real people. <br>
    We promise not to track any more information than listed. <br>
    No unwanted emails will ever be sent to you, emails are used solely on ensuring no confusion between user information.
    <br>

    No third party applications can access this information.
  </p>

</div>
