<div id="nav">
  <ul>
      <li role="presentation"><a routerLink="/home">Home</a></li>
      <li role="presentation" *ngIf="signedIn"><a routerLink="/edit">Edit</a></li>
      <li role="presentation" *ngIf="signedIn"><a routerLink="/profile">Profile</a></li>
      <li role="presentation" *ngIf="!signedIn"><a routerLink="/login">Log In</a></li>
      <li role="presentation" *ngIf="signedIn"><a routerLink="/logout">Log Out</a></li>
      <li role="presentation" *ngIf="!signedIn"><a routerLink="/signup">Sign Up</a></li>
  </ul>
</div>
<div class="container" id="mid">
  <router-outlet></router-outlet>
</div>
<br><br>
<div class="navbar navbar-default bottom navbar-fixed-bottom" style="background-color: #233237">
  <div class="container">
    <p class="navbar-text pull-left">© 2016 - Guitar Tab Central </p>
    <a routerLink="/dmca" class="navbar-text"> DMCA Policies </a>
    <a routerLink="/takedown" class="navbar-text"> Takedown Policy </a>
    <a routerLink="/security" class="navbar-text"> Security & Privacy </a>
  </div>
</div>
