<div class="container">

  <h1> Hey there, {{user}}! Welcome to your tab profile! </h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <th> Title: </th>
      <th> Artist: </th>
      <th> Version: </th>
      <th> Last Updated: </th>
      <th> Edit/Delete: </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tab of tabs" >
      <td><a [routerLink]="['/tabs', tab._id]"> {{tab.name}} </a></td>
      <td> {{ tab.artist }}</td>
      <td> {{ tab.versionNumber }}</td>
      <td> {{ tab.revisionDate }}</td>
      <td>
        <div class="button-group">
          <a class="btn btn-default"  [routerLink]="['/tab-edit', tab._id]">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          <a class="btn btn-danger" (click)="removeTab(tab._id)">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
